@import "tailwindcss";
@config "../../tailwind.config.ts";

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    background-color: #ffffff;
    color: theme('colors.text.secondary');
    font-family: var(--font-inter), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
